In [1]:
#!pip install wget
import pandas as pd
import numpy as np
import requests 
import os
import wget
import matplotlib.pyplot as plt

In [2]:
#Urls
country_data_url="https://www.abs.gov.au/statistics/labour/employment-and-unemployment/labour-force-australia-detailed/mar-2022/6291001.xlsx"
state_data_url="https://www.abs.gov.au/statistics/labour/employment-and-unemployment/labour-force-australia-detailed/mar-2022/6291002.xlsx"
industry_data_url="https://www.abs.gov.au/statistics/labour/employment-and-unemployment/labour-force-australia-detailed/mar-2022/6291004.xlsx"

In [3]:
#Get xlsx file
country_data_filename=wget.download(country_data_url)
state_data_filename=wget.download(state_data_url)
industry_data_filename=wget.download(industry_data_url)

100% [............................................................................] 195804 / 195804

In [11]:
#############################Country Level
sheet_names=["Data2","Data3","Data4","Data5","Data6","Data7","Data8","Data9","Data10",]
country_data=pd.read_excel(country_data_filename,sheet_name="Data1")
country_data=country_data.drop(country_data.index[0:9])
for sheet in sheet_names:
    country_data_temp=pd.read_excel(country_data_filename,sheet_name=sheet)
    country_data_temp=country_data_temp.drop(country_data_temp.index[0:9])
    country_data=pd.merge(country_data,country_data_temp,on="Unnamed: 0",)
#df.drop(df.index[2])

In [10]:
state_data_temp.head(12)

,Unnamed: 0,>> Greater Melbourne ; Civilian population aged 15 years and over ; > Males ;,>> Greater Melbourne ; Civilian population aged 15 years and over ; > Females ;,>> Rest of Vic. ; Employed total ; Persons ;,>> Rest of Vic. ; Employed total ; > Males ;,>> Rest of Vic. ; Employed total ; > Females ;,>> Rest of Vic. ; > Employed full-time ; Persons ;,>> Rest of Vic. ; > Employed full-time ; > Males ;,>> Rest of Vic. ; > Employed full-time ; > Females ;,>> Rest of Vic. ; > Employed part-time ; Persons ;,...,>> Greater Adelaide ; > Unemployment rate looked for only part-time work ; > Males ;,>> Greater Adelaide ; > Unemployment rate looked for only part-time work ; > Females ;,>> Greater Adelaide ; Labour force total ; Persons ;,>> Greater Adelaide ; Labour force total ; > Males ;,>> Greater Adelaide ; Labour force total ; > Females ;,>> Greater Adelaide ; Participation rate ; Persons ;,>> Greater Adelaide ; Participation rate ; > Males ;,>> Greater Adelaide ; Participation rate ; > Females ;,>> Greater Adelaide ; Not in the labour force (NILF) ; Persons ;,>> Greater Adelaide ; Not in the labour force (NILF) ; > Males ;
0,Unit,000,000,000,000,000,000,000,000,000,...,Percent,Percent,000,000,000,Percent,Percent,Percent,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,PERCENT,PERCENT,STOCK,STOCK,STOCK,PERCENT,PERCENT,PERCENT,STOCK,STOCK
3,Frequency,Month,Month,Month,Month,Month,Month,Month,Month,Month,...,Month,Month,Month,Month,Month,Month,Month,Month,Month,Month
4,Collection Month,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,Series Start,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,...,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00,1991-07-01 00:00:00
6,Series End,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,...,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:00
7,No. Obs,369,369,369,369,369,369,369,369,369,...,369,369,369,369,369,369,369,369,369,369
8,Series ID,A84594989L,A84596039V,A84595463L,A84594938L,A84595988C,A84595461J,A84594936J,A84595986X,A84595462K,...,A84595024K,A84596074A,A84595542K,A84595017L,A84596067C,A84595547W,A84595022F,A84596072W,A84595543L,A84595018R
9,1991-07-01 00:00:00,1242.24,1297.241,497.580551,299.541636,198.038915,371.970414,269.814846,102.155567,125.610138,...,8.038416,5.542236,529.003577,300.722441,228.281136,60.449952,70.8636,50.645632,346.106423,123.645559
10,1991-08-01 00:00:00,1243.062,1298.312,499.018524,296.196762,202.821763,374.858216,266.776453,108.081763,124.160308,...,10.002,6.934517,532.93401,302.782045,230.151964,60.85632,71.300042,51.024011,342.79099,121.876954
11,1991-09-01 00:00:00,1243.891,1299.38,509.646015,300.279612,209.366403,374.753155,269.783711,104.969444,134.89286,...,11.46519,6.187494,540.081168,306.403866,233.677302,61.628759,72.102153,51.768612,336.264832,118.554134

In [12]:
#############################State Level
sheet_names=["Data2","Data3","Data4",]
state_data=pd.read_excel(state_data_filename,sheet_name="Data1")
state_data=state_data.drop(state_data.index[0:9])
for sheet in sheet_names:
    state_data_temp=pd.read_excel(state_data_filename,sheet_name=sheet)
    state_data_temp=state_data_temp.drop(state_data_temp.index[0:9])
    state_data=pd.merge(state_data,state_data_temp,on="Unnamed: 0",)

In [ ]:
#############################Industry Level
industry_data=pd.read_excel(industry_data_filename,sheet_name="Data1")
industry_data=industry_data.drop(industry_data.index[0:9])

In [ ]:
country_data=country_data.rename(columns={'Unnamed: 0':'Date','15-64 years ;  Employed total ;  Persons ;'
                                          :'15-64 years Employed total Persons',
                                         '15-64 years ;  Employed total ;  > Males ;':'15-64 years Employed total Males',
                                         '15-64 years ;  Employed total ;  > Females ;':'15-64 years Employed total Females'})
country_data['Date'] = country_data['Date'].astype('datetime64[ns]')
start_date = pd.to_datetime('01/01/2018 00:00')
country_data=country_data.loc[(country_data['Date'] >= start_date)]

country_data.head(100)

In [ ]:
plt.plot(country_data["Date"], country_data["15-64 years Employed total Persons"])
plt.title('15-64 years Employed total Persons')
plt.xlabel('Date')
plt.ylabel('Persons')
plt.show()

In [ ]:
plt.plot(country_data["Date"], country_data["15-64 years Employed total Males"])
plt.plot(country_data["Date"], country_data["15-64 years Employed total Females"],color="pink")
plt.title('15-64 years Employed total Persons by Gender')
plt.xlabel('Date')
plt.ylabel('Persons')
plt.xticks(rotation=45)

plt.show()

In [ ]:
plt.plot(country_data["Date"], country_data["> 15-24 years ;  Employed total ;  Persons ;"], label="15-24")
plt.plot(country_data["Date"], country_data["> 25-34 years ;  Employed total ;  Persons ;"], label="25-34")
plt.plot(country_data["Date"], country_data["> 35-44 years ;  Employed total ;  Persons ;"], label="35-44")
plt.plot(country_data["Date"], country_data["> 45-54 years ;  Employed total ;  Persons ;"], label="45-54")
plt.plot(country_data["Date"], country_data["> 55-64 years ;  Employed total ;  Persons ;"], label="55-64")
plt.plot(country_data["Date"], country_data["65 years and over ;  Employed total ;  Persons ;"], label=">65")
plt.legend()
plt.title('Employed total by Age')
plt.xlabel('Date')
plt.xticks(rotation=45)
plt.ylabel('Persons')
plt.show()

In [ ]:
plt.plot(country_data["Date"], country_data["Unemployed total ;  Persons ;"])
plt.title('Unemployed Persons')
plt.xlabel('Date')
plt.ylabel('Persons')
plt.show()

In [ ]:
plt.plot(country_data["Date"], country_data["Unemployment rate ;  Persons ;"])
plt.title('Unemployment rate')
plt.xlabel('Date')
plt.ylabel('%')
plt.show()

In [ ]:
plt.plot(country_data["Date"], country_data["Unemployment rate ;  > Males ;"])
plt.plot(country_data["Date"], country_data["Unemployment rate ;  > Females ;"],color="pink")
plt.title('Unemployment rate by Gender')
plt.xlabel('Date')
plt.ylabel('Persons')
plt.show()